---
import { SITE_TITLE, SITE_DESCRIPTION } from "../../consts";
import { getCollection } from "astro:content";
import FormattedDate from "../../components/FormattedDate.astro";
import BaseLayout from "../../layouts/BaseLayout.astro";
import { Icon } from "astro-icon/components";
import Header from "../../components/Header.astro";
import ImageComp from "../../components/ImageComp.astro";

const data = {
  imagePath:
    "/src/assets/part-of-the-piper-fleet-at-nextgen-flight-academy-redlands-riverside-ca-pilot-training-school-redlands.jpg",
  imageAlt: "Piper Warrior and Cessna at Learn to Fly, LLC in Redlands, CA",
  headerH1: "Blog",
  headerH2: "Explore the latest happenings with NextGen Flight Academy",
};

const posts = (await getCollection("blog")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
---

<BaseLayout
  pageTitle="Blog | NextGen Flight Academy"
  pageDescription="Explore the latest happenings in the world of flight training at NextGen Flight Academy. Gain valuable insights and tips to ease pre-flight jitters and prepare effectively for your important milestones."
  pageKeywords="blog, private pilot's license, written exam, pilot resources, flight training, kansas city flight school, exam preparation, pilot licensing, aviation blog, pilot tips"
>
  <!-- Header -->
  <Header data={data} />

  <section
    class="max-w-7xl mx-auto lg:my-8 px-7 py-10 bg-accent/30 rounded-tr-xl rounded-bl-xl"
  >
    <ul class="flex justify-evenly items-center align-middle flex-wrap gap-6">
      {
        posts.map((post, index) => (
          <li class="h-96 lg:h-80 ring-1 hover:ring-2 hover:shadow-lg hover:scale-[1.02] ring-primary-dark bg-white/60 hover:bg-white/80 rounded-tr-xl rounded-bl-xl duration-300 ease-in-out overflow-hidden group w-full md:first:w-[98.2%] md:w-[48%] md:first:h-screen-1/2">
            <a
              href={`/blog/${post.slug}/`}
              class={`flex flex-col lg:flex-row gap-5 h-full ${index === 0 ? "" : ""}`}
            >
              <div class="flex-1 h-full flex flex-col justify-between p-4 lg:px-8 lg:py-10">
                <div>
                  <h4
                    class={`font-semibold leading-8 text-primary-dark ${index === 0 ? "text-xl lg:text-4xl" : "text-2xl"}`}
                  >
                    {post.data.title}
                  </h4>
                  <div class="flex items-center gap-1 mt-2">
                    <p class="font-medium text-lg text-gray-900/90">
                      {post.data.author}
                    </p>
                  </div>
                </div>
                <p
                  class={`mt-12 font-sans1 ${index === 0 ? "hidden md:block" : "hidden"}`}
                >
                  {post.data.description}
                </p>
                <p class="text-primary-dark/50 text-lg font-medium group-hover:text-primary-dark/90 duration-500">
                  {post.data.readingTime} minutes read ·{" "}
                  <FormattedDate date={post.data.pubDate} />
                </p>
              </div>
              <div class="flex-1 h-full border-l border-primary-dark/50 overflow-hidden">
                <img
                  src={post.data.heroImage}
                  alt={post.data.title}
                  class="h-full object-cover w-full group-hover:scale-110 group-hover:brightness-110 duration-700 ease-in-out"
                />
              </div>
            </a>
          </li>
        ))
      }
    </ul>
  </section>
</BaseLayout>
