---
import BaseLayout from "../../layouts/BaseLayout.astro";
import privatePilot from "../../data/privatePilot";

import UnderHeader from "../../components/UnderHeader.astro";
import ProgramInfo from "../../components/ProgramInfo.astro";

const { data } = privatePilot;
---

<BaseLayout
  siteTitle={data.pageTitle}
  siteDescription={data.pageDescription}
  keywords={data.pageKeywords}
>
  <!-- HEADER -->
  <div class="h-24 w-full bg-primary/70 brightness-75"></div>

  <ProgramInfo data={data} />

  <UnderHeader content={data.underHeader} />
</BaseLayout>
