---
import BaseLayout from "../layouts/BaseLayout.astro";
import { IoPhonePortraitOutline } from "react-icons/io5";
import { IoLocationOutline } from "react-icons/io5";
import { TfiEmail } from "react-icons/tfi";
import contact from "../data/contact";

const { data } = contact;

import {
  PHONE_NUMBER,
  AIRPORT,
  ADDRESS_LINE_1,
  ADDRESS_LINE_2,
  EMAIL_ADDRESS,
} from "../consts";
import GoogleMaps from "../components/GoogleMaps.astro";

const CONTACT_US_FORM_WEBHOOK_URL = import.meta.env.CONTACT_US_FORM_WEBHOOK_URL;
---

<BaseLayout
  siteTitle={data.pageTitle}
  siteDescription={data.pageDescription}
  keywords={data.pageKeywords}
>
  <section
    class="px-6 pt-12 pb-16 lg:pb-4 min-h-screen bg-gradient-to-tr from-primary/40 to-primary/70"
  >
    <div class="max-w-7xl mx-auto">
      <div class="flex flex-wrap justify-center align-top items-start">
        <div
          class="order-last w-full lg:w-1/4 lg:order-first px-8 text-right mt-16"
        >
          <h3 class="text-primary-dark text-2xl font-semibold mt-10">
            {data.locations[0].title}
          </h3>
          <a href={data.locations[0].gMaps}>
            <div class="flex justify-end gap-3 mt-5 hover:underline">
              <p class="text-gray-50">
                {data.locations[0].address}<br />{data.locations[0].city}, {
                  data.locations[0].state
                }
                {data.locations[0].zip}
              </p>
              <IoLocationOutline
                className="lg:size-8 size-6 text-primary-dark"
              />
            </div>
          </a>
          <a href={`tel:${data.locations[0].phone}`}>
            <div class="flex justify-end gap-3 mt-5 hover:underline">
              <p class="text-gray-50">{data.locations[0].phone}</p>
              <IoPhonePortraitOutline
                className="lg:size-8 size-6 text-primary-dark"
              />
            </div>
          </a>
        </div>
        <form
          id="contact-form"
          class="flex flex-col rounded-b-xl max-w-2xl mx-auto gap-5 mt-8 lg:mt-12 p-4 lg:p-12 bg-white/30 w-full lg:w-1/2 shadow-xl h-full"
        >
          <h2 class="text-primary-dark text-5xl font-extrabold mx-auto w-fit">
            Get in touch
          </h2>
          <div class="flex flex-col lg:flex-row gap-5">
            <input
              type="text"
              name="first-name"
              placeholder="Your first name"
              class="px-5 py-4 outline-1 w-full border-primary-darkborder outline-gray-500 placeholder:text-primary/60"
              required
            />
            <input
              type="text"
              name="last-name"
              placeholder="Your last name"
              class="px-5 py-4 outline-1 w-full border-primary-darkborder outline-gray-500 placeholder:text-primary/60"
              required
            />
          </div>
          <div class="flex flex-col lg:flex-row gap-5">
            <input
              id="email"
              type="email"
              name="email"
              placeholder="Your email"
              class="px-5 py-4 outline-1 w-full border-primary-darkborder outline-gray-500 placeholder:text-primary/60"
              required
            />
            <input
              type="email"
              name="confirm-email"
              placeholder="Confirm email"
              class="hidden px-5 py-4 outline-1 w-full border-primary-darkborder outline-gray-500 placeholder:text-primary/60"
            />
            <input
              type="tel"
              name="phone"
              placeholder="Your phone number"
              class="px-5 py-4 outline-1 w-full border-primary-darkborder outline-gray-500 placeholder:text-primary/60"
              required
            />
          </div>

          <textarea
            required
            name="message"
            placeholder="Your message"
            class="px-5 py-4 outline-1 border-primary-darkborder outline-gray-500 min-h-48 placeholder:text-primary/60"
          ></textarea>

          <div class="flex gap-3">
            <input
              type="checkbox"
              name="agree-data-collection"
              id="agree-data-collection"
            />

            <label
              for="agree-data-collection"
              class="text-gray-800 text-sm lg:text-base"
            >
              {data.checkboxText}
            </label>
          </div>
          <button
            id="submit-button"
            form="contact-form"
            disabled
            type="submit"
            class="btn-primary mt-8 mx-auto cursor-not-allowed bg-primary-darkhover:bg-gray-400"
            >Send message</button
          >
        </form>
        <div class="w-full lg:w-1/4 px-8 text-left mt-16">
          <h3 class="text-primary-dark text-2xl font-semibold mt-10">
            {data.locations[1].title}
          </h3>
          <a href={data.locations[1].gMaps}>
            <div class="flex justify-start gap-3 mt-5 hover:underline">
              <IoLocationOutline
                className="lg:size-8 size-6 text-primary-dark"
              />
              <p class="text-gray-50">
                {data.locations[1].address}<br />{data.locations[1].city}, {
                  data.locations[1].state
                }
                {data.locations[1].zip}
              </p>
            </div>
          </a>
          <a href={`tel:${data.locations[1].phone}`}>
            <div class="flex justify-start gap-3 mt-5 hover:underline">
              <IoPhonePortraitOutline
                className="lg:size-8 size-6 text-primary-dark"
              />
              <p class="text-gray-50">{data.locations[1].phone}</p>
            </div>
          </a>
        </div>
      </div>
    </div>
  </section>

  <section class="w-full flex flex-wrap overflow-hidden">
    <GoogleMaps gMapUrl={data.gMaps[0]} />
    <GoogleMaps gMapUrl={data.gMaps[1]} />
  </section>

  <script define:vars={{ CONTACT_US_FORM_WEBHOOK_URL }}>
    const checkbox = document.getElementById("agree-data-collection");
    const submitButton = document.getElementById("submit-button");

    checkbox.addEventListener("change", function () {
      if (checkbox.checked) {
        submitButton.disabled = false;
        submitButton.classList.remove(
          "cursor-not-allowed",
          "bg-gray-400",
          "hover:bg-gray-400"
        );
      } else {
        submitButton.disabled = true;
        submitButton.classList.add(
          "cursor-not-allowed",
          "bg-gray-400",
          "hover:bg-gray-400"
        );
      }
    });

    // Wait for the DOM content to be fully loaded
    document.addEventListener("DOMContentLoaded", function () {
      // Get the contactUs form element
      const contactForm = document.getElementById("contact-form");

      // Check if the contactUs form element exists
      if (contactForm !== null) {
        // Add submit event listener to the contactUs form
        contactForm.addEventListener("submit", function (event) {
          // Prevent the default form submission
          event.preventDefault();

          // Serialize the form data
          const formData = new FormData(contactForm);

          // Check the value of the honeypot field
          const confirmEmailValue = formData.get("confirm-email");
          if (confirmEmailValue === "" || confirmEmailValue === null) {
            // If the honeypot field is empty, it's a human
            // Set the form action to the URL for processing the form and redirecting to thank you
            contactForm.action = CONTACT_US_FORM_WEBHOOK_URL;
          }

          // Convert FormData to URLSearchParams
          const urlSearchParams = new URLSearchParams();
          for (const pair of formData.entries()) {
            urlSearchParams.append(pair[0], pair[1]);
          }

          // Send an AJAX request to submit the form
          const xhr = new XMLHttpRequest();
          xhr.open("POST", contactForm.action);
          xhr.setRequestHeader(
            "Content-Type",
            "application/x-www-form-urlencoded"
          );
          xhr.onload = function () {
            // Check if the request was successful (status 200)
            if (xhr.status === 200) {
              // Redirect the user after a successful form submission
              window.location.href = "/contact-confirmation";
            } else {
              // Handle errors if any
              console.error("Form submission failed:", xhr.statusText);
            }
          };
          xhr.onerror = function () {
            // Handle network errors
            console.error("Network error occurred while submitting the form.");
          };
          xhr.send(urlSearchParams);
        });
      } else {
        console.error("Contact us form element not found.");
      }
    });
  </script>

  <script src="../scripts/emailValidation.js"></script>
</BaseLayout>
