---
import Header from "../components/Header.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
const headerData = {
  title: "Contact Us",
  headerImage: "/src/assets/alto-flight-yukon-group-photo.jpg",
  headerAlt: "CFI in Cessna",
};
import { IoPhonePortraitOutline } from "react-icons/io5";
import { IoLocationOutline } from "react-icons/io5";
import { TfiEmail } from "react-icons/tfi";

import {
  PHONE_NUMBER,
  AIRPORT,
  ADDRESS_LINE_1,
  ADDRESS_LINE_2,
  EMAIL_ADDRESS,
} from "../consts";

const CONTACT_US_FORM_WEBHOOK_URL = import.meta.env.CONTACT_US_FORM_WEBHOOK_URL;
---

<BaseLayout
  siteTitle="Contact Us | Alto Flight Academy Yukon, OK"
  siteDescription="Begin your pilot career today.  Contact us and speak to an Alto Flight team member.  Whether you're just starting out, or you are looking for advanced training in instrument, commercial, CFI, or ATP; we can help you get to the skies quicker.  Alto Flight Academy is conveniently located in Oklahoma City, OK."
>
  <Header slot="header" data={headerData} />
  <div class="flex flex-col-reverse lg:flex-col">
    <section class="py-16 px-5 relative overflow-hidden bg-dark-blue">
      <div
        class="max-w-7xl mx-auto z-20 relative text-dark-blue flex justify-between lg:items-center items-start flex-col lg:flex-row gap-10"
      >
        <div class="flex">
          <IoPhonePortraitOutline className="lg:size-16 size-12 text-red-700" />
          <div class="flex flex-col justify-between font-semibold">
            <a class="text-white font-bold text-2xl" href=`tel:${PHONE_NUMBER}`
              >{PHONE_NUMBER}</a
            >
            <div class="flex flex-col text-gray-300">
              <p>Monday — Saturday: 8.00am - 5.00pm</p>
              <p>Sunday: 12.00pm - 5.00pm</p>
            </div>
          </div>
        </div>
        <div class="flex">
          <IoLocationOutline className="lg:size-16 size-12 text-red-700" />
          <div class="flex flex-col justify-between font-semibold">
            <a
              class="text-white font-bold text-2xl"
              href="https://maps.app.goo.gl/jV2NSfU3mHNMf2Rc7"
              target="_blank">{AIRPORT}</a
            >
            <div class="flex flex-col text-gray-300">
              <p>{ADDRESS_LINE_1}</p>
              <p>{ADDRESS_LINE_2}</p>
            </div>
          </div>
        </div>
        <div class="flex gap-5">
          <TfiEmail className="lg:size-16 size-12 text-red-700" />
          <div class="flex flex-col justify-between font-semibold">
            <a
              class="text-white font-bold text-2xl"
              href={`mailto:${EMAIL_ADDRESS}`}
              target="_blank">Email Us</a
            >
            <div class="flex flex-col text-gray-300">
              <a href={`mailto:${EMAIL_ADDRESS}`} target="_blank"
                >{EMAIL_ADDRESS}</a
              >
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="py-24 px-5">
      <div class="max-w-7xl mx-auto">
        <h2 class="text-dark-blue text-5xl font-extrabold mx-auto w-fit">
          Get in touch
        </h2>
        <form
          id="contact-form"
          class="flex flex-col max-w-4xl mx-auto gap-5 my-5"
        >
          <div class="flex flex-col lg:flex-row gap-5">
            <input
              type="text"
              name="first-name"
              placeholder="Your first name"
              class="px-5 py-4 outline-1 w-full border-gray-400 border outline-gray-500 rounded-full"
              required
            />
            <input
              type="text"
              name="last-name"
              placeholder="Your last name"
              class="px-5 py-4 outline-1 w-full border-gray-400 border outline-gray-500 rounded-full"
              required
            />
          </div>
          <div class="flex flex-col lg:flex-row gap-5">
            <input
              id="email"
              type="email"
              name="email"
              placeholder="Your email"
              class="px-5 py-4 outline-1 w-full border-gray-400 border outline-gray-500 rounded-full"
              required
            />
            <input
              type="email"
              name="confirm-email"
              placeholder="Confirm email"
              class="hidden px-5 py-4 outline-1 w-full border-gray-400 border outline-gray-500 rounded-full"
            />
            <input
              type="tel"
              name="phone"
              placeholder="Your phone number"
              class="px-5 py-4 outline-1 w-full border-gray-400 border outline-gray-500 rounded-full"
              required
            />
          </div>

          <textarea
            required
            name="message"
            placeholder="Your message"
            class="px-5 py-4 outline-1 border-gray-400 border outline-gray-500 rounded-xl min-h-48"
          ></textarea>

          <div class="flex gap-3">
            <input
              type="checkbox"
              name="agree-data-collection"
              id="agree-data-collection"
            />

            <label
              for="agree-data-collection"
              class="text-gray-500 text-sm lg:text-base"
            >
              I agree to the terms & conditions provided by the company. By
              providing my phone number, I agree to receive text messages from
              Alto Flight Academy.
            </label>
          </div>
          <button
            id="submit-button"
            disabled
            type="submit"
            class="btn-dark-blue mx-auto cursor-not-allowed bg-gray-400 hover:bg-gray-400"
            >Send message</button
          >
        </form>
      </div>
    </section>
  </div>

  <iframe
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3244.057927577292!2d-97.710454723616!3d35.60163763434128!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x87b2014e29c352e9%3A0x466ca3f4081dcdf5!2sAlto%20Flight%20Academy!5e0!3m2!1sen!2sgt!4v1715928246714!5m2!1sen!2sgt"
    class="w-full h-[20rem]"
    style="border:0;"
    allowfullscreen=""
    loading="lazy"
    referrerpolicy="no-referrer-when-downgrade"
  >
  </iframe>
</BaseLayout>

<script define:vars={{ CONTACT_US_FORM_WEBHOOK_URL }}>
  const checkbox = document.getElementById("agree-data-collection");
  const submitButton = document.getElementById("submit-button");

  checkbox.addEventListener("change", function () {
    if (checkbox.checked) {
      submitButton.disabled = false;
      submitButton.classList.remove(
        "cursor-not-allowed",
        "bg-gray-400",
        "hover:bg-gray-400",
      );
    } else {
      submitButton.disabled = true;
      submitButton.classList.add(
        "cursor-not-allowed",
        "bg-gray-400",
        "hover:bg-gray-400",
      );
    }
  });

  // Wait for the DOM content to be fully loaded
  document.addEventListener("DOMContentLoaded", function () {
    // Get the contactUs form element
    const contactForm = document.getElementById("contact-form");

    // Check if the contactUs form element exists
    if (contactForm !== null) {
      // Add submit event listener to the contactUs form
      contactForm.addEventListener("submit", function (event) {
        // Prevent the default form submission
        event.preventDefault();

        // Serialize the form data
        const formData = new FormData(contactForm);

        // Check the value of the honeypot field
        const confirmEmailValue = formData.get("confirm-email");
        if (confirmEmailValue === "" || confirmEmailValue === null) {
          // If the honeypot field is empty, it's a human
          // Set the form action to the URL for processing the form and redirecting to thank you
          contactForm.action = CONTACT_US_FORM_WEBHOOK_URL;
        }

        // Convert FormData to URLSearchParams
        const urlSearchParams = new URLSearchParams();
        for (const pair of formData.entries()) {
          urlSearchParams.append(pair[0], pair[1]);
        }

        // Send an AJAX request to submit the form
        const xhr = new XMLHttpRequest();
        xhr.open("POST", contactForm.action);
        xhr.setRequestHeader(
          "Content-Type",
          "application/x-www-form-urlencoded",
        );
        xhr.onload = function () {
          // Check if the request was successful (status 200)
          if (xhr.status === 200) {
            // Redirect the user after a successful form submission
            window.location.href = "/contact-confirmation";
          } else {
            // Handle errors if any
            console.error("Form submission failed:", xhr.statusText);
          }
        };
        xhr.onerror = function () {
          // Handle network errors
          console.error("Network error occurred while submitting the form.");
        };
        xhr.send(urlSearchParams);
      });
    } else {
      console.error("Contact us form element not found.");
    }
  });
</script>

<script src="../scripts/emailValidation.js"></script>
