---
import BaseLayout from "../layouts/BaseLayout.astro";
import homePage from "../data/homePage";
import TryFlyingCTA from "../components/TryFlyingCTA.astro";
import GoogleMaps from "../components/GoogleMaps.astro";
import GridNav from "../components/GridNav.astro";
import ProgramsSwiper from "../components/ProgramsSwiper.astro";
import HeaderScreen from "../components/HeaderScreen.astro";
import Testimonials from "../components/Testimonials.astro";
import QuizCTA from "../components/QuizCTA.astro";
import BlogFeed from "../components/BlogFeed.astro";
import BookDownload from "../components/BookDownload.astro";

const { data } = homePage;
---

<BaseLayout
  siteTitle={data.pageTitle}
  siteDescription={data.pageDescription}
  keywords={data.pageKeywords}
>
  <!-- HEADER -->
  <HeaderScreen content={data.header} />

  <GridNav content={data.gridNav} />

  <TryFlyingCTA content={data.discoveryCTA} />

  <BookDownload />

  <ProgramsSwiper content={data.programs} />

  <Testimonials content={data.testimonials} />

  <QuizCTA content={data.quizCTA} />

  <BlogFeed data={data.blogFeed} />

  <section class="w-full flex flex-wrap overflow-hidden">
    <GoogleMaps data={data.gMaps[0]} />
    <GoogleMaps data={data.gMaps[1]} />
  </section>
</BaseLayout>
<script src="../scripts/creativeSlider.js"></script>
