---
import BaseLayout from "../layouts/BaseLayout.astro";
import Header from "../components/Header.astro";
import { FaCheckCircle } from "react-icons/fa";
import { PHONE_NUMBER, EMAIL_ADDRESS } from "../consts";
const headerData = {
  title: "Thank you for contacting Alto Flight Academy",
  headerImage: "/src/assets/alto-community.jpg",
  headerAlt: "CFI in Cessna",
};
---

<BaseLayout siteTitle="Introductory Discovery Flight Form Submission">
  <Header slot="header" data={headerData} />

  <section class="py-16 px-5">
    <div class="flex flex-col items-center max-w-5xl mx-auto text-center gap-8">
      <FaCheckCircle className="text-7xl text-green-600" />
      <p class="text-gray-600 leading-loose">
        Thank you for contacting Alto Flight Academy. We are looking forward to
        working with you soon. We will review your message and get back with you
        within 1-5 business days.
      </p>
      <p class="text-gray-600 leading-loose">
        You can also give us a call at <a
          class="hover:text-dark-blue hover:underline duration-300"
          href=`tel:${PHONE_NUMBER}`>{PHONE_NUMBER}</a
        > or send us an email at <a
          class="hover:text-dark-blue hover:underline duration-300"
          href=`mailto:${EMAIL_ADDRESS}`>{EMAIL_ADDRESS}</a
        >.
      </p>
    </div>
  </section>
</BaseLayout>
