---
import BaseLayout from "../layouts/BaseLayout.astro";
import newToFlying from "../data/new-to-flying";
import { Image } from "astro:assets";
import type { ImageMetadata } from "astro";
import headerImg from "../assets/oskar-kadaksoo-f_rLDn5m2XQ-unsplash.jpg";
import Features from "../components/Features.astro";
import TryFlyingCTA from "../components/TryFlyingCTA.astro";
const { data } = newToFlying;
const images = import.meta.glob<{ default: ImageMetadata }>(
  "/src/assets/*.{jpeg,jpg,png,gif,webp}"
);
---

<BaseLayout
  siteTitle={data.pageTitle}
  siteDescription={data.pageDescription}
  keywords={data.pageKeywords}
>
  <!-- HEADER -->
  <div
    class="relative h-screen bg-gray-800 text-white flex flex-col items-center justify-center overflow-hidden"
  >
    <Image
      src={headerImg}
      alt={data.headerImageAlt}
      class="absolute inset-0 -z-0 object-cover object-center w-full h-full"
    />
    <div
      class="absolute bg-gradient-to-b from-black/50 to-black/10 w-full h-full z-0"
    >
    </div>
    <!-- Text -->
    <div
      class="text-white text-center lg:text-left z-10 flex flex-col items-center gap-4 px-5 h-full lg:pt-28 justify-center"
    >
      <h1
        class="text-7xl text-center font-medium tracking-normal text-gray-100"
      >
        {data.headerH1}
      </h1>
      <h2 class="text-3xl tracking-wide font-sans2">
        {data.headerH2}
      </h2>
    </div>
  </div>

  <!-- FEATURES -->
  <Features content={data.features} />

  <TryFlyingCTA content={data.discoveryCTA} />
</BaseLayout>
