---
import type { ImageMetadata } from "astro";
import { Image } from "astro:assets";

const {
  title,
  imagePath,
  imageAlt,
  link,
  linkText = "Explore",
  description,
} = Astro.props;
const images = import.meta.glob<{ default: ImageMetadata }>(
  "/src/assets/*.{jpeg,jpg,png,gif}"
);
if (!images[imagePath])
  throw new Error(
    `"${imagePath}" does not exist in glob: "src/assets/*.{jpeg,jpg,png,gif}"`
  );
---

<div class="flex flex-col bg-white group relative overflow-hidden">
  <div
    class="w-full h-[27rem] overflow-hidden flex flex-col justify-center items-center align-middle"
  >
    <p
      class="z-10 w-full px-6 text-3xl lg:translate-y-12 drop-shadow-md text-center leading-tight text-white group-hover:-translate-y-3 duration-300 ease-in-out"
      set:html={title}
    />
    {
      description && (
        <p
          class="z-10 mt-3 lg:mt-0 px-8 w-full lg:leading-3 lg:translate-y-10 font-sans1 lg:opacity-0 text-base text-center leading-tight text-gray-100 group-hover:opacity-95 group-hover:-translate-y-1 group-hover:leading-tight duration-500 ease-out"
          set:html={description}
        />
      )
    }
    <Image
      src={images[imagePath]()}
      alt={imageAlt}
      class="absolute -z-0 h-full w-full object-cover group-hover:-translate-y-3 group-hover:scale-105 duration-500 ease-out"
      quality={60}
    />
    <div
      class="absolute z-0 w-full h-full bg-black/30 group-hover:bg-black/50 duration-500"
    >
    </div>
  </div>
  <a
    href={link}
    target="_self"
    class="absolute btn-animate bottom-0 w-full h-16 bg-black opacity-50 lg:translate-y-[101%] group-hover:brightness-125 group-hover:opacity-100 group-hover:translate-y-0 duration-300"
  >
    <div class="flex h-full w-full justify-center align-middle items-center">
      <p
        class="relative z-10 text-center text-lg tracking-wide font-bold leading-loose text-white uppercase"
      >
        {linkText}
      </p>
    </div>
  </a>
</div>
