---
const today = new Date();
import { FaPhone } from "react-icons/fa";
import { IoLocationSharp } from "react-icons/io5";
import { MdEmail } from "react-icons/md";
import {
  EMAIL_ADDRESS,
  PHONE_NUMBER,
  ADDRESS_LINE_1,
  ADDRESS_LINE_2,
  FACEBOOK_URL,
  INSTAGRAM_URL,
  TIKTOK_URL,
  AIRPORT,
  SITE_DESCRIPTION,
} from "../consts";
import { navbarLinks } from "../data/navbarLinks";
const { pathname } = Astro.url;
---

<footer
  class=`bg-gradient-to-t from-primary-dark to-primary pt-24 px-5 font-sans1`
>
  <div class="text-white max-w-xl lg:max-w-7xl mx-auto">
    <div class="flex gap-10 flex-col lg:flex-row">
      <div class="flex flex-col gap-5 lg:w-1/3">
        <a href="/" class="text-4xl font-bold uppercase"
          ><h2 class="font-sans">
            <span class="text-accent">NextGen</span><br />
            <small>Flight Academy</small>
          </h2></a
        >
        <p class="text-muted font-medium max-w-xl">
          {SITE_DESCRIPTION}
        </p>
        <div class="flex space-x-6">
          <a
            href={FACEBOOK_URL}
            target="_blank"
            class="text-muted hover:text-accent duration-200"
          >
            <span class="sr-only">Facebook</span>
            <svg
              class="h-6 w-6"
              fill="currentColor"
              viewBox="0 0 24 24"
              aria-hidden="true"
            >
              <path
                fill-rule="evenodd"
                d="M22 12c0-5.523-4.477-10-10-10S2 6.477 2 12c0 4.991 3.657 9.128 8.438 9.878v-6.987h-2.54V12h2.54V9.797c0-2.506 1.492-3.89 3.777-3.89 1.094 0 2.238.195 2.238.195v2.46h-1.26c-1.243 0-1.63.771-1.63 1.562V12h2.773l-.443 2.89h-2.33v6.988C18.343 21.128 22 16.991 22 12z"
                clip-rule="evenodd"></path>
            </svg>
          </a>
          <a
            href={INSTAGRAM_URL}
            target="_blank"
            class="text-muted hover:text-accent duration-200"
          >
            <span class="sr-only">Instagram</span>
            <svg
              class="h-6 w-6"
              fill="currentColor"
              viewBox="0 0 24 24"
              aria-hidden="true"
            >
              <path
                fill-rule="evenodd"
                d="M12.315 2c2.43 0 2.784.013 3.808.06 1.064.049 1.791.218 2.427.465a4.902 4.902 0 011.772 1.153 4.902 4.902 0 011.153 1.772c.247.636.416 1.363.465 2.427.048 1.067.06 1.407.06 4.123v.08c0 2.643-.012 2.987-.06 4.043-.049 1.064-.218 1.791-.465 2.427a4.902 4.902 0 01-1.153 1.772 4.902 4.902 0 01-1.772 1.153c-.636.247-1.363.416-2.427.465-1.067.048-1.407.06-4.123.06h-.08c-2.643 0-2.987-.012-4.043-.06-1.064-.049-1.791-.218-2.427-.465a4.902 4.902 0 01-1.772-1.153 4.902 4.902 0 01-1.153-1.772c-.247-.636-.416-1.363-.465-2.427-.047-1.024-.06-1.379-.06-3.808v-.63c0-2.43.013-2.784.06-3.808.049-1.064.218-1.791.465-2.427a4.902 4.902 0 011.153-1.772A4.902 4.902 0 015.45 2.525c.636-.247 1.363-.416 2.427-.465C8.901 2.013 9.256 2 11.685 2h.63zm-.081 1.802h-.468c-2.456 0-2.784.011-3.807.058-.975.045-1.504.207-1.857.344-.467.182-.8.398-1.15.748-.35.35-.566.683-.748 1.15-.137.353-.3.882-.344 1.857-.047 1.023-.058 1.351-.058 3.807v.468c0 2.456.011 2.784.058 3.807.045.975.207 1.504.344 1.857.182.466.399.8.748 1.15.35.35.683.566 1.15.748.353.137.882.3 1.857.344 1.054.048 1.37.058 4.041.058h.08c2.597 0 2.917-.01 3.96-.058.976-.045 1.505-.207 1.858-.344.466-.182.8-.398 1.15-.748.35-.35.566-.683.748-1.15.137-.353.3-.882.344-1.857.048-1.055.058-1.37.058-4.041v-.08c0-2.597-.01-2.917-.058-3.96-.045-.976-.207-1.505-.344-1.858a3.097 3.097 0 00-.748-1.15 3.098 3.098 0 00-1.15-.748c-.353-.137-.882-.3-1.857-.344-1.023-.047-1.351-.058-3.807-.058zM12 6.865a5.135 5.135 0 110 10.27 5.135 5.135 0 010-10.27zm0 1.802a3.333 3.333 0 100 6.666 3.333 3.333 0 000-6.666zm5.338-3.205a1.2 1.2 0 110 2.4 1.2 1.2 0 010-2.4z"
                clip-rule="evenodd"></path>
            </svg>
          </a>
          <a
            href={TIKTOK_URL}
            target="_blank"
            class="text-muted hover:text-accent duration-200"
          >
            <span class="sr-only">YouTube</span>
            <svg
              class="size-6"
              fill="currentColor"
              viewBox="0 0 512 512"
              id="icons"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M412.19,118.66a109.27,109.27,0,0,1-9.45-5.5,132.87,132.87,0,0,1-24.27-20.62c-18.1-20.71-24.86-41.72-27.35-56.43h.1C349.14,23.9,350,16,350.13,16H267.69V334.78c0,4.28,0,8.51-.18,12.69,0,.52-.05,1-.08,1.56,0,.23,0,.47-.05.71,0,.06,0,.12,0,.18a70,70,0,0,1-35.22,55.56,68.8,68.8,0,0,1-34.11,9c-38.41,0-69.54-31.32-69.54-70s31.13-70,69.54-70a68.9,68.9,0,0,1,21.41,3.39l.1-83.94a153.14,153.14,0,0,0-118,34.52,161.79,161.79,0,0,0-35.3,43.53c-3.48,6-16.61,30.11-18.2,69.24-1,22.21,5.67,45.22,8.85,54.73v.2c2,5.6,9.75,24.71,22.38,40.82A167.53,167.53,0,0,0,115,470.66v-.2l.2.2C155.11,497.78,199.36,496,199.36,496c7.66-.31,33.32,0,62.46-13.81,32.32-15.31,50.72-38.12,50.72-38.12a158.46,158.46,0,0,0,27.64-45.93c7.46-19.61,9.95-43.13,9.95-52.53V176.49c1,.6,14.32,9.41,14.32,9.41s19.19,12.3,49.13,20.31c21.48,5.7,50.42,6.9,50.42,6.9V131.27C453.86,132.37,433.27,129.17,412.19,118.66Z"
              ></path>
            </svg>
          </a>
        </div>
      </div>

      <div class="flex flex-col gap-3">
        <h3 class="font-semibold pb-5 font-sans">Quick Links</h3>
        <ul class="flex flex-col gap-2 text-muted">
          <li>
            <a
              href="/why-become-a-pilot"
              class="hover:text-accent duration-200 font-medium"
            >
              New To Flying?
            </a>
          </li>
          <li>
            <a
              href="/intro-flight"
              class="hover:text-accent duration-200 font-medium"
            >
              Another Link Somewhere
            </a>
          </li>
          <li>
            <a
              href="/ground-school/private-pilot"
              class="hover:text-accent duration-200 font-medium"
            >
              More link to somewhere
            </a>
          </li>
          <li>
            <a
              href="/about/learning-center"
              class="hover:text-accent duration-200 font-medium"
            >
              Learning Center
            </a>
          </li>
        </ul>
      </div>
      <div class="flex flex-col gap-3">
        <h3 class="font-semibold pb-5 font-sans">More Links</h3>
        <ul class="flex flex-col gap-2 text-muted">
          <li>
            <a
              href="/about/our-story"
              class="hover:text-accent duration-200 font-medium"
            >
              About Us
            </a>
          </li>
          <li>
            <a
              href="/about/our-team"
              class="hover:text-accent duration-200 font-medium"
            >
              Our Team
            </a>
          </li>
          <li>
            <a
              href="/about/our-fleet"
              class="hover:text-accent duration-200 font-medium"
            >
              Our Fleet
            </a>
          </li>
          <li>
            <a
              href="/contact"
              class="hover:text-accent duration-200 font-medium"
            >
              Contact Us
            </a>
          </li>
        </ul>
      </div>
      <div class="flex flex-col gap-3">
        <h3 class="font-semibold pb-5 font-sans">Contact</h3>
        <ul class="flex flex-col gap-1 text-muted font-medium">
          <li class="flex gap-2 group items-center">
            <MdEmail className="size-4 group-hover:text-accent duration-200" />
            <a
              class="group-hover:text-accent duration-200"
              href=`mailto:${EMAIL_ADDRESS}`>{EMAIL_ADDRESS}</a
            >
          </li>
          <li class="flex gap-2 group items-center">
            <FaPhone className="size-4 group-hover:text-accent duration-200" />
            <a
              class="group-hover:text-accent duration-200"
              href=`tel:${PHONE_NUMBER}`>{PHONE_NUMBER}</a
            >
          </li>
          <li class="flex gap-2 group">
            <IoLocationSharp
              className="size-4 group-hover:text-accent duration-200 mt-1"
            />
            <a
              class="group-hover:text-accent duration-200"
              href="https://maps.app.goo.gl/jV2NSfU3mHNMf2Rc7"
              target="_blank"
            >
              <p>{AIRPORT}</p>
              <p>{ADDRESS_LINE_1}</p>
              <p>{ADDRESS_LINE_2}</p>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div
      class="flex flex-col sm:flex-row justify-between border-t border-gray-600 py-5 mt-10 gap-2"
    >
      <p>
        <span class="font-semibold">NextGen Flight Academy</span> &copy; {
          today.getFullYear()
        }. All rights reserved. <a
          class="hover:underline"
          href="/privacy-policy">Privacy Policy</a
        >
      </p>
      <p class="text-xs text-muted">
        Powered by <a
          href="https://rightruddermarketing.com/"
          target="_blank"
          class="font-semibold hover:text-accent duration-200"
          >More Right Rudder</a
        >
      </p>
    </div>
  </div>
</footer>
