---
import { Image } from "astro:assets";
import loremImg from "../assets/flight-school-name-location-keyword.jpg";
import NavCard from "./NavCard.astro";
import Counters from "../components/Counters.astro";

const { content } = Astro.props;
---

<section class="bg-primary-dark py-16 lg:py-24">
  <div class="mx-auto max-w-9xl px-6 lg:px-8">
    <div class="">
      {
        content.upperHeading && (
          <h2 class="mx-auto uppercase text-lg lg:text-xl lg:max-w-3xl font-sans1 text-center font-bold tracking-tight text-gray-50">
            {content.upperHeading}
          </h2>
        )
      }
      {
        content.heading && (
          <h2 class="mx-auto mb-12 text-3xl lg:text-4xl lg:max-w-3xl font-sans1 text-center font-bold tracking-tight text-gray-50">
            {content.heading}
          </h2>
        )
      }
    </div>
    <div class="">
      <ul
        role="list"
        class="grid grid-cols-1 gap-6 md:grid-cols-2 lg:grid-cols-4"
      >
        {
          content.cards.map((card) => (
            <li>
              <NavCard
                title={card.title}
                imagePath={card.imagePath}
                imageAlt={card.imageAlt}
                description={card.description}
                link={card.link}
              />
            </li>
          ))
        }
      </ul>
    </div>
  </div>
  <div class="pt-12 lg:pt-20">
    <Counters />
  </div>
</section>
