---
import { Image } from "astro:assets";
import type { ImageMetadata } from "astro";

const { data } = Astro.props;
const images = import.meta.glob<{ default: ImageMetadata }>(
  "/src/assets/*.{jpeg,jpg,png,gif}"
);
if (!images[data.imagePath])
  throw new Error(
    `"${data.imagePath}" does not exist in glob: "src/assets/*.{jpeg,jpg,png,gif}"`
  );
---

<header
  class="relative isolate pt-14 overflow-hidden h-[40vh] lg:h-screen-3/4 text-white flex
    items-center justify-center align-middle"
>
  <Image
    src={images[data.imagePath]()}
    alt={data.imageAlt}
    class="absolute top-0 w-full h-full object-cover -z-10"
    quality={100}
    loading={"eager"}
  />

  <div class="absolute inset-0 bg-slate-950/50 -z-0"></div>
  {
    (data.headerH1 || data.headerH2) && (
      <div class="text-white text-center lg:text-left z-10 flex flex-col items-center gap-4 px-5 h-full lg:pt-28 justify-center">
        {data.headerH1 && (
          <h1
            class="text-5xl md:text-6xl lg:text-7xl xl:text-9xl px-4 lg:px-12 text-center font-medium tracking-normal text-gray-100"
            set:html={data.headerH1}
          />
        )}
        {data.headerH1 && (
          <h2
            class="text-3xl text-accent brightness-110 font-semibold tracking-wide font-sans2"
            set:html={data.headerH2}
          />
        )}
      </div>
    )
  }
</header>
