---
import { Image } from "astro:assets";
import type { ImageMetadata } from "astro";

import ImageComp from "./ImageComp.astro";

const { content } = Astro.props;
const images = import.meta.glob<{ default: ImageMetadata }>(
  "/src/assets/*.{jpeg,jpg,png,gif,webp}",
);
if (!images[content.imagePath]) {
  throw new Error(
    `"${content.imagePath}" does not exist in glob: "src/assets/*.{jpeg,jpg,png,gif,webp}"`,
  );
}
---

<div
  class="relative h-screen-3/4 lg:min-h-[90vh] bg-gray-800 text-white flex flex-col items-center justify-center overflow-hidden"
>
  <ImageComp
    imagePath={content.imagePath}
    imageAlt={content.imageAlt}
    loading={"eager"}
    styles="absolute inset-0 -z-0 object-cover object-center w-full h-full animate-slow-zoom"
  />
  <div
    class="absolute bg-gradient-to-b from-slate-950/20 via-50% via-slate-950/70 to-slate-950/40 w-full h-full z-0"
  >
  </div>
  <!-- Text -->
  <div
    class="text-white text-center lg:text-left z-10 flex flex-col items-center gap-4 px-5 h-full lg:pt-28 justify-center"
  >
    <h1
      class="text-6xl md:text-8xl xl:text-9xl text-center drop-shadow-md font-medium tracking-normal text-white animate-fade-from-left"
      set:html={content.headerH1}
    />
    <h2
      class="text-xl text-pretty px-6 md:text-3xl max-w-xl lg:max-w-5xl text-center text-accent brightness-150 drop-shadow-md font-semibold tracking-wide font-sans2 animate-fade-from-right"
      set:html={content.headerH2}
    />
  </div>
</div>
