---
const { name, imagePath, imageAlt, rank = "CFI" } = Astro.props;
import type { ImageMetadata } from "astro";
import { Image } from "astro:assets";
const images = import.meta.glob<{ default: ImageMetadata }>(
  "/src/assets/*.{jpeg,jpg,png,gif}"
);
if (!images[imagePath])
  throw new Error(
    `"${imagePath}" does not exist in glob: "src/assets/*.{jpeg,jpg,png,gif}"`
  );
---

<li class="group">
  <div
    class="mx-auto rounded-full overflow-hidden h-56 w-56 group-hover:shadow-xl duration-500 ease-in-out"
  >
    <Image
      src={images[imagePath]()}
      alt={imageAlt}
      class="w-full h-full object-cover object-top group-hover:scale-105 group-hover:brightness-105 duration-500 ease-in-out"
      quality={80}
    />
  </div>
  <h3
    class="mt-6 mb-0 text-2xl group-hover:text-primary-dark group-hover:scale-105 font-semibold tracking-tight text-gray-900 duration-300 ease-in-out"
  >
    {name}
  </h3>
  <p
    class="text-lg leading-6 font-sans1 text-gray-600 group-hover:scale-110 duration-200 delay-100 ease-in-out"
  >
    {rank}
  </p>
</li>
