---
import CTAcard from "./CTAcard.astro";
import ImageComp from "./ImageComp.astro";

const { data } = Astro.props;
---

<section class="mx-auto max-w-6xl grid grid-cols-1 lg:grid-cols-6 pb-8">
  <div
    class="col-span-4 w-full h-full bg-gradient-to-b from-primary/5 to-primary/20 pb-8"
  >
    <div class="w-full h-[27rem] my-6">
      <ImageComp
        imagePath={data.topImage.imagePath}
        imageAlt={data.topImage.imageAlt}
        quality={60}
        styles="w-full h-full object-cover"
      />
    </div>
    <h1
      class="font-sans px-6 mt-16 text-6xl text-primary-dark tracking-wide font-bold animate-fade-from-left"
    >
      {data.program.header}
    </h1>
    <div class="my-8 px-6">
      {
        data.program.description.map((desc) => (
          <p
            class="font-sans1 text-base font-light leading-relaxed mt-4"
            set:html={desc}
          />
        ))
      }
    </div>
    <div class="my-8">
      <h3
        set:html={data.program.availability}
        class="text-3xl italic uppercase font-bold text-center bg-primary/80 text-muted py-3"
      />
    </div>
    <div class="mt-12 px-6">
      <h3 class="text-4xl font-bold my-4 text-primary-dark">
        Training Details
      </h3>
      <p
        class="my-4 text-lg"
        set:html={data.program.trainingDetails.description}
      />
      <ul class="bg-white/80">
        <li
          class="flex justify-between items-center align-middle border-t-2 py-6"
        >
          <span class="text-2xl font-semibold pl-4"
            >Program Prerequisites:
          </span>
          <ul class="list-disc pl-3 w-full lg:w-1/2">
            {
              data.program.trainingDetails.requisites.map((req) => (
                <li class="font-sans1 text-base font-light leading-relaxed">
                  {req}
                </li>
              ))
            }
          </ul>
        </li>
        <li
          class="flex justify-between items-center align-middle border-t-2 py-6"
        >
          <span class="text-2xl font-semibold pl-4">Training Aircraft: </span>
          <ul class="list-disc pl-3 w-full lg:w-1/2">
            {
              data.program.trainingDetails.aircraft.map((aircraft) => (
                <li
                  class="font-sans1 text-base font-light leading-relaxed"
                  set:html={aircraft}
                />
              ))
            }
          </ul>
        </li>
        <li
          class="flex justify-between items-center align-middle border-y-2 py-6"
        >
          <span class="text-2xl font-semibold pl-4">Starting Price: </span>
          {
            typeof data.program.trainingDetails.startingPrice == "number" ? (
              <span class="w-full lg:w-1/2 text-lg">
                $ {data.program.trainingDetails.startingPrice.toLocaleString()}
              </span>
            ) : (
              <span
                class="w-full lg:w-1/2 font-sans1"
                set:html={data.program.trainingDetails.startingPrice}
              />
            )
          }
        </li>
      </ul>
      <a
        href={data.program.trainingDetails.buttonLink}
        class="btn-primary btn-animate block mt-8 text-center"
        ><span class="relative z-10 text-xl">
          {data.program.trainingDetails.buttonText}
        </span>
      </a>
    </div>
  </div>
  <div
    class="col-span-2 w-full h-full flex flex-col justify-start align-top items-start"
  >
    <div class="mx-auto my-6 w-3/4">
      <CTAcard
        title={data.CTAcard.title}
        imagePath={data.CTAcard.imagePath}
        imageAlt={data.CTAcard.imageAlt}
        link={data.CTAcard.link}
        linkText={data.CTAcard.linkText}
        description={data.CTAcard.description}
      />
    </div>
    <div class="mx-auto my-6 border-y-2 border-primary/70 w-3/4">
      <h3 class="text-4xl font-bold my-4">Related Programs</h3>
      <ul
        class="pb-3 flex flex-wrap justify-between gap-1 items-center align-middle"
      >
        {
          data.program.related.map((detail) => (
            <li class="font-sans1 flex justify-start hover:scale-105 align-middle items-center w-full bg-muted h-10 text-base font-light leading-relaxed group hover:bg-gradient-to-br hover:from-primary hover:to-primary-dark/60 duration-200">
              <a
                href={detail.link}
                class="group-hover:text-white px-3 duration-100 w-full h-full flex justify-start align-middle items-center"
              >
                {detail.title}
              </a>
            </li>
          ))
        }
      </ul>
    </div>
  </div>
</section>
