---
import { Image } from "astro:assets";
import img from "../assets/nextgen-flight-academy-discovery-flight.jpg";

const { content } = Astro.props;
---

<div class="bg-white h-screen-mobile lg:h-screen-3/4 p-0">
  <div class="flex justify-center flex-wrap w-full h-full">
    <div class="lg:h-full w-full lg:w-1/2">
      <Image
        src={img}
        alt={"Pilot in cockpit"}
        class="object-cover object-center w-full h-full"
      />
    </div>
    <div
      class="w-full lg:w-1/2 flex flex-col justify-center align-middle items-center lg:items-start p-4 lg:p-8 text-center lg:text-left"
    >
      <p
        class="px-4 text-6xl lg:text-8xl font-sans2 font-bold tracking-tight text-primary text-center lg:text-left"
      >
        {content.heading}
      </p>
      <p
        class="px-4 mt-6 font-sans1 text-lg leading-6 text-gray-900 text-center lg:text-left"
      >
        {content.text}
      </p>
      <a
        href={content.buttonLink}
        target="_blank"
        class="btn-primary block mt-6 mx-auto lg:mx-0 lg:ml-4"
      >
        {content.buttonText}</a
      >
    </div>
  </div>
</div>
