---
import BaseLayout from "../../layouts/BaseLayout.astro";
import UnderHeader from "../../components/UnderHeader.astro";
import ProgramInfo from "../../components/ProgramInfo.astro";
import Breadcrumb from "../../components/Breadcrumb.astro";
import highAltitudeRiverside from "../../data/high-altitude-endorsement-riverside";

const { data } = highAltitudeRiverside;

const breadcrumbItems = [
  { name: "Home", href: "/" },
  { name: "Riverside Programs", href: "/riverside" },
  { name: "High Altitude Endorsement" },
];
---

<BaseLayout
  siteTitle={data.pageTitle}
  siteDescription={data.pageDescription}
  keywords={data.pageKeywords}
>
  <Breadcrumb items={breadcrumbItems} />

  <!-- HEADER -->
  <div class="h-20 lg:h-24 w-full bg-primary/70 brightness-75"></div>

  <ProgramInfo data={data} />

  <UnderHeader content={data.underHeader} />
</BaseLayout>
