---
import type { CollectionEntry } from "astro:content";
import FormattedDate from "../components/FormattedDate.astro";
import BaseLayout from "./BaseLayout.astro";

type Props = CollectionEntry<"blog">["data"];

const { title, author, description, pubDate, updatedDate, heroImage, tags } =
  Astro.props;
---

<BaseLayout
  siteTitle={title + " | Blog | NextGen Flight Academy"}
  siteDescription={description}
  keywords={tags?.join(", ")}
  ogImage={heroImage}
>
  <div class="h-20 lg:h-24 w-full bg-primary/70 brightness-75"></div>

  <section
    class="flex justify-center items-start align-top pt-4 pb-20 bg-gradient-to-b from-primary/10 to-primary/20"
  >
    <article
      class="max-w-4xl flex flex-col justify-center align-middle items-center bg-white rounded-md overflow-hidden"
    >
      <div class="w-full aspect-video">
        {
          heroImage && (
            <img
              class="object-cover w-full h-full"
              src={heroImage}
              alt={title}
            />
          )
        }
      </div>
      <div class="font-sans1 py-12">
        <div class="flex flex-col gap-6 px-6 lg:px-12">
          <div class="font-light">
            <FormattedDate date={pubDate} />
            {
              updatedDate && (
                <div class="last-updated-on">
                  Last updated on <FormattedDate date={updatedDate} />
                </div>
              )
            }
          </div>
          <h1 class="text-5xl font-sans leading-tight text-primary-dark">
            {title}
          </h1>
          <p class="-mt-3">by <strong>{author}</strong></p>
          {
            tags && (
              <div class="flex flex-wrap gap-2 w-full font-semibold font-sans2">
                {tags.slice(0, 3).map((tag) => (
                  <span class="bg-green-200 py-1 px-2 rounded-sm capitalize text-xs">
                    {tag}
                  </span>
                ))}
              </div>
            )
          }
          <hr />
        </div>
        <div
          class="mt-8 px-6 flex justify-center prose-img:aspect-square prose-img:object-cover"
        >
          <slot />
        </div>
      </div>
    </article>
  </section>
</BaseLayout>
